@{
    Layout = null;
    ViewBag.Today = DateTime.Today;
}

@if (ViewBag.reminders == null)
{
    <p> There are no Reminders currently attached to this Trial.</p>
}
else
{
    <div id="ReminderStatus"></div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Due Date</th>
            <th>Days till due</th>
            <th>Reminder</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var reminder in ViewBag.reminders)
        {
            <tr>
                <td>@reminder.DueDate.ToString("yyyy-MM-dd")</td>
                <td>
                    @(ViewBag.DaysTillDue = (reminder.DueDate - ViewBag.Today).TotalDays)
                    @if (ViewBag.DaysTillDue > 100)
                    {
                        <span class="pull-right-container">
                            <span class="label pull-right bg-green">@ViewBag.DayTillDue <i class="fa fa-thumbs-o-up"></i></span>
                        </span>
                    }
                    else if (ViewBag.DaysTillDue < 100 && ViewBag.DaysTillDue > 50)
                    {
                        <span class="pull-right-container">
                            <span class="label pull-right bg-yellow">@ViewBag.DayTillDue <i class="fa fa-calendar-times-o"></i></span>
                        </span>
                    }
                    else
                    {
                        <span class="pull-right-container">
                            <span class="label pull-right bg-red">@ViewBag.DayTillDue <i class="fa fa-warning"></i></span>
                        </span>
                    }
                </td>
                <td>@reminder.Reminder</td>
                <td>
                    @Html.CheckBox("CBChecked", (bool)reminder.Checked, new { id = reminder.Id, @class = "stopCount" })
                </td>
            </tr>
        }
        </tbody>
    </table>
    
}