@using System.Activities.Expressions
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using Trialmanager.Controllers
@using Trialmanager.Models
@model TrialFeasibilityModels

@{
    ViewBag.Today = DateTime.Today;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Small</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index">
                        <i class="fa fa-dashboard"></i>@ViewBag.link
                    </a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Feasibility</a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">Setup</a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab">Late Development</a>
                            </li>
                            <li>
                                <a href="#tab4" data-toggle="tab">Active Studies</a>
                            </li>
                            <li>
                                <a href="#tab5" data-toggle="tab">Close Down</a>
                            </li>
                            <li>
                                <a href="#tab6" data-toggle="tab">Documents</a>
                            </li>
                            <li>
                                <a href="#tab7" data-toggle="tab">Trial Records</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Trial Management</h3>
                                        <div class="box-tools pull-right">
                                            <!-- Buttons, labels, and many other things can be placed here! -->
                                            <!-- Here is a label for example -->
                                            <span class="label label-default">Edit Trial...</span>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-horizontal">
                                                    <h4>Feasibility</h4>
                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.Id)
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.ShortName)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Enter Trial Short Name", disabled = "disabled" } })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.TrialTitle)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            @Html.TextAreaFor(model => model.TrialTitle, new { @class = "form-control", Rows = 4, PlaceHolder = "Full Trial title" })
                                                            @Html.ValidationMessageFor(model => model.TrialTitle, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.ApplicationReference)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.ApplicationReference, new { htmlAttributes = new { @class = "form-control", title = "Application Reference", disabled = "disabled" } })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.ApplicationReference, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.BhNumber)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.BhNumber, new { htmlAttributes = new { @class = "form-control", Title = "BH Number", disabled = "disabled" } })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.BhNumber, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.TrialTypeId)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.DropDownList("TrialTypeId", null, htmlAttributes: new { @class = "form-control", Title = "Trial types", disabled = "disabled" })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.TrialTypeId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.Commercial)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                @Html.RadioButtonFor(model => model.Commercial, "Commercial") Commercial
                                                                @Html.RadioButtonFor(model => model.Commercial, "Non-Commercial") Non-Commercial
                                                                @Html.ValidationMessageFor(model => model.Commercial, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.PhaseId)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.DropDownList("PhaseId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.PhaseId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        @Html.LabelFor(model => model.SampleSize)
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.SampleSize, new { htmlAttributes = new { @class = "form-control", title = "Sample Size", disabled = "disabled" } })
                                                                <div class="input-group-addon feasibility">
                                                                    <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.SampleSize, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.GrantTypeId)
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("GrantTypeId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                            <div class="input-group-addon feasibility">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.GrantTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.FundingStream)
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.FundingStream, new { htmlAttributes = new { @class = "form-control", Title = "Funding Stream", disabled = "disabled" } })
                                                            <div class="input-group-addon feasibility">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.FundingStream, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.GrantDeadlineDate)
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.GrantDeadlineDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            <div class="input-group-addon feasibility">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.GrantDeadlineDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    @Html.Label("Agreements")
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            @Html.CheckBoxFor(model => model.UniConsultancyAgreement) Uni Consultancy Agreement
                                                            @Html.ValidationMessageFor(model => model.UniConsultancyAgreement, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            @Html.CheckBoxFor(model => model.NhsConsultancyAgreement) NHS Consultancy Agreement
                                                            @Html.ValidationMessageFor(model => model.NhsConsultancyAgreement, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.DiseaseTherapyAreaId)
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("DiseaseTherapyAreaId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                            <div class="input-group-addon">
                                                                <a href="#">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.DiseaseTherapyAreaId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                </div>
                                            }
                                        </div>
                                    </div><!-- /.box-body -->
                                    <!-- /.box -->
                                </div>
                                @if (ViewBag.progress == null)
                                {
                                    
                                    <div class="box-footer">
                                        <div id="EnterProgress">
                                            <div class="input-group">
                                                <div class="col-md-12">
                                                    <label class="input-group">Trial Progress</label>
                                                </div>
                                                <div class="checkbox">
                                                    @Html.RadioButton("StartedTrial", "Yes") Trial Started
                                                    @Html.RadioButton("StartedTrial", "No") Trial didn't Start

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="label">Reason Trial did not Start</label>
                                                </div>
                                                @Html.TextArea("Reason", new { @class = "form-control", Rows = 4, PlaceHolder = "Enter the reason the Trial did not start" })
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-default btn-block" id="saveTrial">Save Trial Progress</button>
                                            </div>
                                        </div>
                                        <div id="Progress"></div>
                                        <!-- box-footer -->
                                    </div>
                                }
                                else
                                {
                                    foreach (var item in ViewBag.progress)
                                    {
                                        <div class="box-footer">
                                            <div class="input-group">
                                                <div class="col-md-12">
                                                    <label class="input-group">Trial Progress</label>
                                                </div>
                                                <div class="checkbox">
                                                    @if (item.Started == "Yes")
                                                    {
                                                        @Html.RadioButton("StartedTrial", "Yes", new { @checked = "checked"} )
                                                        @Html.Label("Trial Started")
                                                        @Html.RadioButton("StartedTrial","No")
                                                        @Html.Label("Trial didn't Start ")
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("StartedTrial", "Yes") 
                                                        @Html.Label("Trial Started")
                                                        @Html.RadioButton("StartedTrial", "No", new { @checked = "checked"}) 
                                                        @Html.Label("Trial didn't Start")
                                                    }


                                                </div>
                                            </div>
                                            @if (item.Started == "No")
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="label">Reason Trial did not Start</label>
                                                    </div>
                                                    <textarea class="form-control" rows="4" disabled="disabled">@item.Reason</textarea>
                                                </div>
                                            }
                                            
                                        </div>
                                    <!-- box-footer -->
                                    }

                                }
                            </div>

                            <div class="tab-pane" id="tab2">
                                <p>@{ Html.RenderAction("ShowSetup", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <p>@{ Html.RenderAction("ShowLateDevelopment", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <p>@{ Html.RenderAction("ShowActive", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <div class="tab-pane" id="tab5">
                                <p>@{ Html.RenderAction("ShowCloseDown", new { Id = ViewBag.Id }); }</p>
                            </div>
                        <div class="tab-pane" id="tab6">
                            <div id="ListOfDocuments">
                                <p>@{ Html.RenderAction("ShowDocuments", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <section class="content container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Add New Document</h3>
                                                <div class="box-tools pull-right">
                                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                                    <!-- Here is a label for example -->
                                                    <span class="label label-default">Adding a document...</span>
                                                </div>
                                                <!-- /.box-tools -->
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">

                                                <div class="form-horizontal">
                                                    <h4>Add a Document</h4>
                                                    <hr />
                                                    @using (Html.BeginForm("AddDocument","TrialFeasibility", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label">Link to the File</label>
                                                            </div>
                                                            
                                                            <div class="col-md-12">
                                                                @Html.Editor("UploadFile", new {htmlAttributes = new {@class = "form-control", Type = "File"}})
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <Label class="control-label">File Version</Label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.Editor("DocumentVersion", new { htmlAttributes = new { @class = "form-control", PlaceHolder = "File Version" } })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                                <div class="col-md-2">
                                                                    <label class="control-label">Document Type</label>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.DropDownList("DocumentType", new SelectList(ViewBag.DocumentTypes, "Id", "TypeName"), null, htmlAttributes: new { @class = "form-control" })
                                                                </div>
                                                            </div>

                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label">Description</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.TextArea("DocumentDescription", new {@class = "form-control", @Rows = 4, PlaceHolder = "Add a description for the document"})
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="TrialId" id="TrialId" value="@ViewBag.Id"/>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="submit" class="btn btn-default btn-block" value="Upload a Document">
                                                            </div>
                                                        </div>
                                                    }
                                                    
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane" id="tab7">
@*                            updated via JQuery function below.*@
@*                            <p>@{ Html.RenderAction("ListAddedRecords", new {Id = ViewBag.Id}); }</p>*@
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Contacts</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfContacts">
                                    @if (ViewBag.contactsRole == null)
                                    {
                                        <p> There are no Contacts currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <table id="contacts" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Contact Name</th>
                                                <th class="hidden-xs hidden-md-lg">Organisation</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th class="hidden-xs">Trial Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var contact in ViewBag.contactsRole)
                                        {
                                                <tr>
                                                    <td><a href="/Contacts/Edit/@contact.ContactName.Id">@contact.ContactName.ContactName</a></td>
                                                    <td class="hidden-xs hidden-md-lg">@contact.ContactName.Organisation</td>
                                                    <td style="text-align: center;"><a href="mailto:@contact.ContactName.Email" title="@contact.ContactName.Email"><i class="fa fa-envelope-o"></i></a></td>
                                                    <td>@contact.ContactName.Telephone</td>
                                                    <td class="hidden-xs">@contact.RoleName.RoleName</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                
                                <div class="input-group">
                                    <div class="col-md-6">
                                        <label>Contact List</label>
                                        @Html.DropDownList("Contacts", new SelectList(ViewBag.Contacts, "Id", "ContactName"), null, htmlAttributes: new {@class = "form-control", id = "ContactSel"})
                                    </div>
                                    <div class="col-md-6">
                                        <label>Role List</label>
                                        @Html.DropDownList("Roles", new SelectList(ViewBag.Roles, "Id", "RoleName"), null, htmlAttributes: new {@class = "form-control", id = "RoleSel"})
                                    </div>
                                </div>
                            </div>
                                <button id="AddContact" type="button" class="btn btn-default btn-block">Add Contact to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Notifications</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfNotes">
                                    @if (ViewBag.notifications == null)
                                    {
                                        <p> There are no Notifications currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <table id="notifications" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Date\Time</th>
                                                <th>Who</th>
                                                <th>Notification</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var note in ViewBag.notifications)
                                            {
                                                <tr>
                                                    <td>@note.DateTime.ToString("yyyy-MM-dd hh:mm:ss")</td>
                                                    <td>@note.Who</td>
                                                    <td>@note.Message</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <label for="Notification">Notification</label>
                                @Html.TextArea("Notification", new { @class = "form-control", id = "message", @Rows = 4, PlaceHolder = "Add a note to the Trial" })
                            </div>
                            <button id="AddNotification" type="button" class="btn btn-default btn-block">Add Note to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Reminders</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfReminders">
                                    @if (ViewBag.reminders == null)
                                    {
                                        <p> There are no Reminders currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <div id="ReminderStatus"></div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Cancel</th>
                                                    <th>Reminder</th>
                                                    <th>Due Date</th>
                                                    <th>Days till due</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var reminder in ViewBag.reminders)
                                                {
                                                    <tr>
                                                        <td>
                                                           @Html.CheckBox("CBChecked", (bool) reminder.Checked, new {id = reminder.Id, @class = "stopCount"})
                                                        </td>
                                                        <td>@reminder.Reminder</td>
                                                        <td>@reminder.DueDate</td>
                                                        <td>
                                                                                                
                                                                @(ViewBag.DaysTillDue = (reminder.DueDate - ViewBag.Today).TotalDays)
                                                            @if (ViewBag.DaysTillDue > 100)
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-green">@ViewBag.DayTillDue <i class="fa fa-thumbs-o-up"></i></span>
                                                                </span>
                                                            }
                                                            else if (ViewBag.DaysTillDue < 100 && ViewBag.DaysTillDue > 50)
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-yellow">@ViewBag.DayTillDue <i class="fa fa-calendar-times-o"></i></span>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-red">@ViewBag.DayTillDue <i class="fa fa-warning"></i></span>
                                                                </span>
                                                            }
                                    
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.Editor("DueDate", new { htmlAttributes = new { @class = "form-control datepicker", id="dueDate", PlaceHolder = "Reminder Due Date"} })
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Reminder">Reminder</label>
                                @Html.TextArea("Reminder", new {@class = "form-control", id = "reminder", @Rows = 4, PlaceHolder = "Add a reminder to the Trial"})
                            </div>
                            <button id="AddReminder" type="button" class="btn btn-default btn-block">Add Reminder to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                </div>


            </div>
        </section>
    </div>

</body>
</html>

@section scripts
{
    <script>
    var times = 0;
    var inp;
    var fieldName;
    var original;
    var type;
    var aClass;
    var Id = @ViewBag.Id;
    $(".input-group-addon").click(function() {
        times++;
        var controller = "";
        var getClass = $(this).attr('class');
        switch (true) {
        case getClass.indexOf('feasibility') >= 0:
            controller = "TrialFeasibility";
            break;
        case getClass.indexOf('setup') >= 0:
            controller = "TrialSetup";
            break;
        case getClass.indexOf('lateDev') >= 0:
            controller = "TrialLateDevelopment";
            break;
        case getClass.indexOf('active') >= 0:
            controller = "TrialActive";
            break;
        }
        if (times >= 2) {
            if (!$('#reason').val()) {
                $('#message').text('Please enter a reason for this change.');
            } else {
                $(this).html('<a id="saveChange" href="#"><i class="fa fa-edit"></i></a>');
                $('#' + fieldName).prop("disabled", true);
                times = 0;
                var postData = {
                    Original: original,
                    FieldName: fieldName,
                    NewValue: inp.val(),
                    Reason: $('#reason').val(),
                    Controller: controller,
                    TrialId: Id,
                    Id: Id
                }
                $.ajax({
                    type: 'POST',
                    url: '/TrialFeasibility/AjaxEdit',
                    data: postData,
                    success: function(data) {
                        $("#tab7").html(data);
                    }
                });
                $('#newDiv').remove();
                $('#message').remove();
            }
        } else {
            inp = $(this).parent().find(":input");
            original = inp.val();
            fieldName = $(inp).attr("name");
            $('#' + fieldName).prop("disabled", false);
            $(this).html('<a id="saveChange" href="#"><i class="fa fa-floppy-o"></i></a>');
            var pDiv = $(this).parent().closest('div');
            $(pDiv)
                .after($('<div id="newDiv" style="padding-top:17px;"><textarea id="reason" class="form-control textarea" placeholder="Enter the reason why the change is necessary"></textarea></div><div id="message"></div>'));

        }

    });

    $.ajax({
        url: '@Url.Action("ListAddedRecords", "TrialFeasibility", new {Id = ViewBag.Id}) ',
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            $("#tab7").html(data);
        }
    });

    $('#ContactSel').select2({
        placeholder: 'Select an option'
    });

    $("#AddContact").click(function() {
        var postData = {
            ContactId: $('#ContactSel').val(),
            RoleId: $('#RoleSel').val(),
            TrialId: @ViewBag.Id
        }
        $.ajax({
            url: '/TrialFeasibility/ListContacts',
            type: 'POST',
            data: postData,
            success: function(data) {
                $("#ListOfContacts").html(data);
            }
        });
    });

    $("#AddNotification").click(function() {
        var postData = {
            Who: '@ViewBag.User',
            Message: $('#message').val(),
            TrialId: @ViewBag.Id
        }
        $.ajax({
            url: '/TrialFeasibility/ListNotes',
            type: 'POST',
            data: postData,
            success: function(data) {
                $("#ListOfNotes").html(data);
                $('#message').val("");
            }
        });
    });
    $("#AddReminder").click(function() {
        var postData = {
            Reminder: $('#reminder').val(),
            DueDate: $('#dueDate').val(),
            TrialId: @ViewBag.Id
        }
        $.ajax({
            url: '/TrialFeasibility/ListReminders',
            type: 'POST',
            data: postData,
            success: function(data) {
                $("#ListOfReminders").html(data);
                $('#reminder').val("");
                $('dueDate').val("");
            }
        });
    });

    $("#saveTrial").click(function() {
        var postData = {
            Started: $("input[name='StartedTrial']:checked").val(),
            Reason: $('#Reason').val(),
            TrialId: @ViewBag.Id
        }
        $.ajax({
            url: '/TrialFeasibility/AddProgress',
            type: 'POST',
            data: postData,
            success: function(data) {
                $("#Progress").html(data);
                $("#EnterProgress").fadeOut();
            }
        });
    });

    $("#saveSetup").click(function() {
        var postData = {
            Completed: $("input[name='StartedTrial']:checked").val(),
            Reason: $('#Reason').val(),
            TrialId: @ViewBag.Id
        };
            $.ajax({
                url: '/TrialFeasibility/AddProgressSetup',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#ProgressSetup").html(data);
                    $("#EnterProgressSetup").fadeOut();
                }
            });
        });

        $(".stopCount").on("ifChanged", function() 
        {
            var postData = {
                Id: $(this).attr('id')
            };
            $.ajax({
                url: '/TrialFeasibility/ChangeReminderStatus',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#ReminderStatus").html(data);
                    $("#ReminderStatus").delay(1000).fadeOut();
                }
            });
        });
        $(document).ready(function () {
            $('#listDocs').DataTable();
            $('#contacts').DataTable();
            $('#notifications').DataTable();
        });
        $("#cookieSaveSetup").click(function() {
            Cookies.set('projectIdentifier', $('#ProjectIdentifier').val(), { expires: 10 });
            Cookies.set('researchDevelopmentId', $('#ResearchDevelopmentId').val(), { expires: 10 });
            Cookies.set('grantFunderRef', $('#GrantFunderRef').val(), { expires: 10 });
            Cookies.set('sponsorRef', $('#SponsorRef').val(), { expires: 10 });
            Cookies.set('recRef', $('#RecRef').val(), { expires: 10 });
            Cookies.set('eudractRef', $('#EudractRef').val(), { expires: 10 });
            Cookies.set('irasId', $('#IrasId').val(), { expires: 10 });
            Cookies.set('recruitmentTarget', $('#RecruitmentTarget').val(), { expires: 10 });
            Cookies.set('trialLocationId', $('#TrialLocationId').val(), { expires: 10 });
            Cookies.set('recDate', $('#RecDate').val(), { expires: 10 });
            Cookies.set('hraDate', $('#HraDate').val(), { expires: 10 });
            Cookies.set('ctaDate', $('#CtaDate').val(), { expires: 10 });
        });

        $("#cookieDeleteSetup").click(function() {
            Cookies.remove('projectIdentifier');
            $('#ProjectIdentifier').val("");
            Cookies.remove('researchDevelopmentId');
            $('#ResearchDevelopmentId').val("");
            Cookies.remove('grantFunderRef');
            $('#GrantFunderRef').val("");
            Cookies.remove('sponsorRef');
            $('#SponsorRef').val("");
            Cookies.remove('recRef');
            $('#RecRef').val("");
            Cookies.remove('eudractRef');
            $('#EudractRef').val("");
            Cookies.remove('irasId');
            $('#IrasId').val("");
            Cookies.remove('recruitmentTarget');
            $('#RecruitmentTarget').val("");
            Cookies.remove('trialLocationId');
            $('#TrialLocationId').val("");
            Cookies.remove('recDate');
            $('#RecDate').val("");
            Cookies.remove('hraDate');
            $('#HraDate').val("");
            Cookies.remove('ctaDate');
            $('#CtaDate').val("");
            $('#alertMessageSetup').hide();
        });

        function loadFnSetup(jQuery) {
            if (typeof Cookies.get('projectIdentifier') !== 'undefined') {
                $('#ProjectIdentifier').val(Cookies.get('projectIdentifier'));
                $('#alertMessageSetup').show();
            } else {
                $('#alertMessageSetup').hide();
            }
            if (typeof Cookies.get('researchDevelopmentId') !== 'undefined') {
                $('#ResearchDevelopmentId').val(Cookies.get('researchDevelopmentId'));
            }
            if (typeof Cookies.get('grantFunderRef') !== 'undefined') {
                $('#GrantFunderRef').val(Cookies.get('grantFunderRef'));
            }
            if (typeof Cookies.get('sponsorRef') !== 'undefined') {
                $('#SponsorRef').val(Cookies.get('sponsorRef'));
            }
            if (typeof Cookies.get('recRef') !== 'undefined') {
                $('#RecRef').val(Cookies.get('recRef'));
            }
            if (typeof Cookies.get('eudractRef') !== 'undefined') {
                $('#EudractRef').val(Cookies.get('eudractRef'));
            }
            if (typeof Cookies.get('irasId') !== 'undefined') {
                $('#IrasId').val(Cookies.get('irasId'));
            }
            if (typeof Cookies.get('recruitmentTarget') !== 'undefined') {
                $('#RecruitmentTarget').val(Cookies.get('recruitmentTarget'));
            }
            if (typeof Cookies.get('trialLocationId') !== 'undefined') {
                $('#TrialLocationId').val(Cookies.get('trialLocationId'));
            }
            if (typeof Cookies.get('recDate') !== 'undefined') {
                $('#RecDate').val(Cookies.get('recDate'));
            }
            if (typeof Cookies.get('hraDate') !== 'undefined') {
                $('#HraDate').val(Cookies.get('hraDate'));
            }
            if (typeof Cookies.get('ctaDate') !== 'undefined') {
                $('#CtaDate').val(Cookies.get('ctaDate'));
            }
        }
        $(document).ready(loadFnSetup);

        $("#cookieSaveLate").click(function() {
            Cookies.set('clinicalTrialsGovRef', $('#ClinicalTrialsGovRef').val(), { expires: 10 });
            Cookies.set('localCC', $('#LocalCC').val(), { expires: 10 });
            Cookies.set('sponsorGreenLight', $('#SponsorGreenLight').val(), { expires: 10 });
            Cookies.set('localSiteInitiation', $('#LocalSiteInitiation').val(), { expires: 10 });
            Cookies.set('targetFpfvDate', $('#TargetFpfvDate').val(), { expires: 10 });
            Cookies.set('multiSiteInitiation', $('#MultiSiteInitiation').val(), { expires: 10 });
        });

        $("#cookieDeleteLate").click(function() {
            Cookies.remove('clinicalTrialsGovRef');
            $('#ClinicalTrialsGovRef').val("");
            Cookies.remove('localCC');
            $('#LocalCC').val("");
            Cookies.remove('sponsorGreenLight');
            $('#SponsorGreenLight').val("");
            Cookies.remove('localSiteInitiation');
            $('#LocalSiteInitiation').val("");
            Cookies.remove('targetFpfvDate');
            $('#TargetFpfvDate').val("");
            Cookies.remove('multiSiteInitiation');
            $('#MultiSiteInitiation').val("");
           
            $('#alertMessageLate').hide();
        });

        function loadFnLate(jQuery) {
            if (typeof Cookies.get('clinicalTrialsGovRef') !== 'undefined') {
                $('#ClinicalTrialsGovRef').val(Cookies.get('clinicalTrialsGovRef'));
                $('#alertMessageLate').show();
            } else {
                $('#alertMessageLate').hide();
            }
            if (typeof Cookies.get('localCC') !== 'undefined') {
                $('#LocalCC').val(Cookies.get('localCC'));
            }
            if (typeof Cookies.get('sponsorGreenLight') !== 'undefined') {
                $('#SponsorGreenLight').val(Cookies.get('sponsorGreenLight'));
            }
            if (typeof Cookies.get('localSiteInitiation') !== 'undefined') {
                $('#LocalSiteInitiation').val(Cookies.get('localSiteInitiation'));
            }
            if (typeof Cookies.get('targetFpfvDate') !== 'undefined') {
                $('#TargetFpfvDate').val(Cookies.get('targetFpfvDate'));
            }
            if (typeof Cookies.get('multiSiteInitiation') !== 'undefined') {
                $('#MultiSiteInitiation').val(Cookies.get('multiSiteInitiation'));
            }
        }

        $(document).ready(loadFnLate);
    </script>
}