@model TrialManager.Models.TrialLateDevelopmentModels

@{
    ViewBag.Title = "LateDevEditRecord";
}

<h2>Late Development</h2>

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Edit Late Development</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-default">Editing Late Development...</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    
                <div class="form-horizontal">
                    <h4>TrialLateDevelopmentModels</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.ClinicalTrialsGovRef, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.ClinicalTrialsGovRef, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.LocalCC, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.LocalCC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.SponsorGreenLight, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.SponsorGreenLight, "", new { @class = "text-danger", disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.LocalSiteInitiation, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.LocalSiteInitiation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.TargetFpfvDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.TargetFpfvDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            @Html.EditorFor(model => model.MultiSiteInitiation, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            <div class="input-group-addon lateDev">
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            @Html.ValidationMessageFor(model => model.MultiSiteInitiation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- /.box-body -->
    </div>
</div>
<!-- /.box -->
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
