@using System.Web.UI.WebControls
@model TrialManager.Models.TrialLateDevelopmentModels

@{
    ViewBag.Title = "LateDevNewrecord";
}

<h2>Late Development</h2>

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">New Late Development Record</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-default">Add record...</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
            @using (Html.BeginForm()) 
            {
                @Html.AntiForgeryToken()
    
                <div class="form-horizontal">
                    <h4>Late Development</h4>
                    <hr />
                    <div id="alertMessageLate" class="alert alert-warning alert-dismissible" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h4><i class="icon fa fa-warning"></i>Alert!</h4>
                        This form has been populated by cookies, saved the last time a Trial was entered. Select delete at the bottom of the form to remove the field entries and start a fresh
                    </div>
                    <div class="form-group">
                            @Html.EditorFor(model => model.ClinicalTrialsGovRef, new { htmlAttributes = new { @class = "form-control", Placeholder = "Governance Reference" } })
                            @Html.ValidationMessageFor(model => model.ClinicalTrialsGovRef, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                            @Html.EditorFor(model => model.LocalCC, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Local CC" } })
                            @Html.ValidationMessageFor(model => model.LocalCC, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.EditorFor(model => model.SponsorGreenLight, new { htmlAttributes = new { @class = "form-control pull-right datepicker", PlaceHolder = "Sponsor Green Light date", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.SponsorGreenLight, "", new { @class = "text-danger" })
                            </div>

                    </div>

                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.EditorFor(model => model.LocalSiteInitiation, new { htmlAttributes = new { @class = "form-control pull-right datepicker", PlaceHolder = "Local Site Initiation date", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.LocalSiteInitiation, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.EditorFor(model => model.TargetFpfvDate, new { htmlAttributes = new { @class = "form-control pull-right datepicker", PlaceHolder = "Target FPFV date", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.TargetFpfvDate, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.EditorFor(model => model.MultiSiteInitiation, new { htmlAttributes = new { @class = "form-control pull-right datepicker", PlaceHolder = "Multi-Site Initiation date", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.MultiSiteInitiation, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default btn-block btn-flat" />
                    </div>
                </div>
            }

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <!--Use this to keep the data last typed in a cookie so that it can be saved properly later-->
            <p>Save what you have typed in a cookie if you are distracted!</p>
            <a class="btn btn-app" id="cookieSaveLate" data-toggle="modal" data-target="#modal-savedLate"><i class="fa fa-save"></i>Keep</a>  <a class="btn btn-app" id="cookieDeleteLate" data-toggle="modal" data-target="#modal-deletedLate"><i class="fa fa-close"></i>Delete</a>
        </div>
        <!-- box-footer -->
    </div>
</div>
<!-- /.box -->
<div class="modal fade in" id="modal-savedLate" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Cookie Saved
            </div>
            <div class="modal-body">
                Your data has been saved to a cookie and will be available the next time you access this page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modal-deletedLate" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Cookie Deleted
            </div>
            <div class="modal-body">
                Your data has been deleted and will no longer be presented to you on this page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
