
@{
    Layout = null;
}
@if (ViewBag.changed == null)
{
    <p>No changes have been applied to this Trial.</p>
}
else
{
    <table id="changeList" class="table table-bordered table-striped">
        <thead>
        <tr>

            <th>
                ShortName
            </th>
            <th>
                Date/Time
            </th>
            <th>
                Who changed
            </th>
            <th>
                FieldName
            </th>
            <th>
                Original value
            </th>
            <th>
                New value
            </th>
            <th>
                Reason for change
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.changed)
        {
            <tr>
                <td>
                    @item.ShortName.ShortName
                </td>
                <td>
                    @item.DateChanged
                </td>
                <td>
                    @item.WhoChanged
                </td>
                <td>
                    @item.FieldName
                </td>
                <td>
                    @item.OriginalValue
                </td>
                <td>
                    @item.NewValue
                </td>
                <td>
                    @item.ReasonForChange
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<script type="text/javascript">
    $("#changeList").DataTable();
</script>