@model System.Collections.Generic.IEnumerable<TrialManager.Models.ContactsModels>
@{
    ViewBag.Title = "Contacts";
    ViewBag.Small = "List";
    ViewBag.link = "DashBoard";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.Small</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/TrialManager/Home/Index"><i class="fa fa-dashboard"></i>@ViewBag.link</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">List of Contacts</h3>
                        
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table id="con" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ContactStatusName.ContactStatusName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ContactName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Organisation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ContactNotes)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactStatusName.ContactStatusName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Organisation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNotes)
                                    </td>
                                    <td>
                                        <a href="/TrialManager/Contacts/Edit/@item.Id"><i class="fa fa-edit"></i></a> |
                                        <a href="#"><i id="@item.Id" class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
<div class="modal modal-danger fade" id="modal-Contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                <p>Do you wish to completely remove this Contact?</p>
                <p>Note - this will remove the contact from all of the Trials.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline" id="ContactDelete" data-dismiss="modal">Confirm Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts
{
<script>
    $('#con').DataTable();

    var RemPostData = 0;

    $(".fa-trash").click(function() {
        RemPostData = $(this).attr('id');
        $('#modal-Contact').modal('toggle');
    });

    $('#modal-Contact').on('hide.bs.modal',
        function(e) {
            var clickedId = $(document.activeElement);
            if (clickedId.attr('id') === 'ContactDelete') {
                var postData = {
                    Id: RemPostData
                };
                $.ajax({
                    url: '@Url.Action("DeleteContact","Contacts")',
                    type: 'POST',
                    data: postData,
                    success: function(data) {
                        location.reload();
                    }
                });
            }
        });
</script>
}

