@model TrialManager.Models.TrialCloseDownModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrialCloseDownModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortName.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicalStudyReportDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicalStudyReportDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicalStudyReportSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicalStudyReportSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EudraCTUploadDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EudraCTUploadDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EudraCTUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EudraCTUpload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archiving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archiving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivingPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivingPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destruction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
